#contact_modal {
    display: none;
}

#contact_mediaCarousel {
    display: none;
}

.liCarousel {
    display: none;
}

.liCarousel img {
    height: 50em;
    width: 50em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    object-fit: cover;
}

.liCarousel video {
    height: 50em;
    width: 50em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    object-fit: cover;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px 30px 100px;
    display: flex;
}

.photograph-header .photograph-header__div {
    display: flex;
    flex-grow: 1;
}

.photograph-header .photograph-header__div article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
    margin: 0 2em;
}

.photograph-header .photograph-header__div article button {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.photograph-header article div h1 {
    font-size: 64px;
    font-weight: 400;
    color: #D3573C;
    margin: 0;
}

.photograph-header article div h2 {
    font-size: 24px;
    font-weight: 400;
    color: #901C1C;
    margin: 1em 0;
}

.photograph-header article div p {
    font-size: 18px;
    font-weight: 400;
    color: #525252;
    margin: 1em 0;
}

.photograph-header article img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 100%;
}

.photograph-media {
    display: flex;
    margin: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photograph-media article:hover .medias__photographe{
    transform: scale(1.1);
}

.photograph-media article:hover .textMedia__title {
    text-decoration: underline #901C1C;
}

.medias__photographe {
    height: 450px;
    width: 450px;
    object-fit: cover;
    margin: 40px 0px 10px 0px;
    border-radius: 10px;
    cursor: zoom-in;
}

.photograph-media article a:focus {
    outline: 4px solid #901C1C;
}

.contact_button:focus {
    outline: 4px solid yellow;
}

.textMedia button:focus {
    outline: 4px solid #901C1C;
}

#sort-select:focus {
    border: 4px solid yellow;
}

.sort-select {
    font-size: large;
    font-weight: 900;
    padding-right: 20px;
    margin-top: 9px;
}

#sort-select {
    border-radius: 5px;
}

.photograph-media article:hover .textMedia__title {
    text-decoration: underline #901C1C;
}

.textMedia {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textMedia__title {
    flex-grow: 20;
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
}

.textMedia__likes {
    flex-grow: 1;
    text-align: right;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
}

.textMedia__icon {
    flex-grow: 1;
    text-align: right;
    color: #901C1C;
}

.priceInformation {
    position: fixed;
    right: 0;
    bottom: 0;
    background: #DB8876;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#likesShow {
    padding: 0 0 0 1.5em;
    font-weight: bold;
}

.priceInformation i {
    padding: 0 1.5em 0 0.5em;
}

.priceInformation p {
    padding: 0 1.5em;
    font-weight: bold;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 26px;
}

form textarea {
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 18px;
}

.hidden {
   height: 1px;
   left: 0;
   overflow: hidden;
   position: absolute;
   top: -10000px;
   width: 1px;
}

.crossCloseCarousel {
    color: #901C1C;
    cursor: pointer;
    right: 450px;
    top: 80px;
    position: fixed;
}

.backCarousel {
    color: #901C1C;
    cursor: pointer;
    left: 450px;
    top: 50%;
    position: fixed;
}

.nextCarousel {
    color: #901C1C;
    cursor: pointer;
    right: 450px;
    top: 50%;
    position: fixed;
}

.buttonCarouselNav:focus {
    outline: 4px solid #901C1C;
}

input:focus {
    outline: 4px solid #901C1C; 
}

textarea:focus {
    outline: 4px solid #901C1C; 
}

#buttonCloseModal:focus {
    outline: 4px solid #901C1C;
}

button {
    background-color: #fff;
    border: 1px solid #fff;
    color: #fff;
}

#buttonCloseModal {
    background-color: #DB8876;
    border: 1px solid #DB8876;
}

.buttonCarouselNav {
    height: 50px;
    width: 50px;
}

.selectionAndSort {
    display: flex;
    padding: 0;
    margin: 0;
}

.select {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 170px;
    height: 50px;
}

.option {
    padding: 0 30px 0 10px;
    min-height: 40px;
    display: flex;
    align-items: center;
    background: #901C1C;
    border-top: white solid 1px;
    position: absolute;
    top: 0;
    width: 100%;
    pointer-events: none;
    order: 2;
    z-index: 1;
    transition: background .4s ease-in-out;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    color: white;
}

.option:hover {
    background: #DB8876;
}

.select:focus .option {
    position: relative;
    pointer-events: all;
}
  
.selectopt {
    opacity: 0;
    position: absolute;
    left: -99999px;
}
  
.selectopt:checked + label {
    order: 1;
    z-index: 2;
    background:#901C1C;
    border-top: none;
    position: relative;
}
  
.selectopt:checked + label:after {
    content: '';
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    position: absolute;
    right: 10px;
    top: calc(50% - 2.5px);
    pointer-events: none;
    z-index: 3;
}
  
.selectopt:checked + label:before {
    position: absolute;
    right: 0;
    height: 40px;
    width: 40px;
    content: '';
    background:#901C1C;
}

.errorMessage {
    color: #fe142f;
    font-size: 13px;
    display: none;
}

@media screen and (max-width: 1150px) {
    .photograph-media {
        justify-content: center;
    }

    .medias__photographe {
        padding-left: 15px;
        padding-right: 15px;
    }

    .photograph-header {
        margin: 0;
    }
}

@media screen and (max-width: 860px) {
    .contact_button {
        top: 460px;
    }
    header {
        justify-content: center !important;
    }
    .logo {
        margin-left: 0px !important;
    }
    .select {
        justify-content: center;
    }

    .sort-select {
        margin-left: 20px !important;
    }

    .selectionAndSort {
        justify-content: center !important;
    }
}

@media screen and (max-width: 500px) {
    .medias__photographe {
        width: 250px;
        height: 250px;
    }
}